@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	/* background-color: #252525; */
	background-color: black;
	color: #ccc;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.piano-controls {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 1rem auto;
}

input[type='range'] {
	cursor: pointer;
}

.input-control {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-control label {
	opacity: 0;
	transition: all 0.5s ease;
}

.input-control:hover label {
	opacity: 1;
}

.input-control input[type='range'] {
	width: 100%;
}

.display-purpose-input {
	padding: 0;
	background: transparent;
	color: #ccc;
	border: none;
	/* min-width: 10px; */
	width: 2rem;
}

.display-purpose-input:active,
.display-purpose-input:focus {
	outline: none;
}

.display-purpose-input::-webkit-outer-spin-button,
.display-purpose-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.piano {
	/* background-color: #4d4d4d; */
	background-color: transparent;
	height: 20rem;
	width: 60rem;
	display: flex;
	/* border-radius: 1rem; */
	border-radius: 0.25rem;
}

.piano-octave {
	height: 100%;
	width: 50%;
	display: absolute;
}
.piano-octave .white-keys {
	display: flex;
	justify-content: space-around;
	height: 100%;
	width: 100%;
}
.piano-key__white {
	height: 100%;
	width: 14%;
	color: #aaa;
	background-color: #fff;
	/* border-radius: 0 0 1rem 1rem; */
	box-shadow: 0 0 10px 2px #4d4d4daa;
	/* box-shadow: inset 0 0 10px 2px #4d4d4daa; */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.piano-key__white h2 {
	opacity: 0;
	transition: all 0.5s ease;
}

.piano .octave-number {
	font-size: small;
}

.piano.show-notes .piano-key__white h2 {
	opacity: 1;
}

.piano-key {
	cursor: pointer;
}

.piano-key__white:hover {
	/* background-color: currentColor; */
	background-color: #eee;
	box-shadow: none;
}

.piano-key__black:hover {
	background-color: #222;
}

.piano-key__black:active {
	background-color: #000;
	box-shadow: inset 0px -46px 21px 0px #fff5;
	/* transform: translate(-50%) scale(0.99); */
}

.piano-key__white:active {
	/* background-color: currentColor; */
	opacity: 0.95;
	transform: scale(0.99);
}

.piano-key__black.active {
	box-shadow: inset 0px -46px 21px 0px #fff5;
	/* transform: translate(-50%) scale(0.99); */
}

.piano-key__white.active {
	/* background-color: currentColor; */
	opacity: 0.95;
	transform: scale(0.99);
	background-color: #ccc;
	box-shadow: none;
}

#first-octave .piano-key__white:first-child {
	/* border-radius: 0.25rem 0 1rem 1rem; */
	border-radius: 0.25rem 0 0 0.25rem;
}

#second-octave .piano-key__white:last-child {
	/* border-radius: 0 0.25rem 1rem 1rem; */
	border-radius: 0 0.25rem 0.25rem 0;
}

.piano-key__black {
	background-color: #000;
	height: 10rem;
	width: 2rem;
	border-radius: 0 0 0.25rem 0.25rem;
	position: relative;
	transform: translateX(-50%);

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.piano-key__black h4 {
	opacity: 0;
	transition: all 0.5s ease;
}

.piano.show-notes .piano-key__black h4 {
	opacity: 1;
}

.piano-key__black.black-1 {
	top: -20rem;
	left: 68.5px;
}

.piano-key__black.black-2 {
	top: -30rem;
	left: 137px;
}

.piano-key__black.black-3 {
	top: -40rem;
	left: 274px;
}

.piano-key__black.black-4 {
	top: -50rem;
	left: 342.5px;
}

.piano-key__black.black-5 {
	top: -60rem;
	left: 411px;
}

.btn {
	margin-top: 1rem;
	color: #ccc;
	background: transparent;
	border: none;
	/* background: #555; */
	/* font-weight: bold; */
	padding: 0.8rem;
	font-size: large;
	cursor: pointer;
	border-radius: 0.25rem;
	transition: all 0.5s ease;
}

.btn:hover {
	background-color: #ccc;
	color: #000;
}

#toggle-button {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 0 0 1rem;
	padding: 0.5rem;
	margin-top: 0;
}
